.cardImg {
    width: 144px;
}

h1 {
    font-size: 14px;
}

.heading {
    text-align: center;
    font-size: 24px;
    color: grey;
    margin-top: 25%;
}

.search {
    display: flex;
    justify-content: center;
}

.view {

    margin-top: 60px;
    overflow-y: auto;
}
.app {
    height: 200px;
    padding-bottom: 20px;
}

.paginate {
    display: inline-block;
    margin-top: 40px;
    position: absolute;
    top: 0
}
