.cardImg {
    width: 144px;
}

h1 {
    font-size: 14px;
}

.heading {
    text-align: center;
    font-size: 24px;
    color: grey;
    margin-top: 25%;
}

.search {
    display: flex;
    justify-content: center;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: auto;
    gap: 2rem;

}

.card-container {
    padding: 0 2.5%;
    margin: 20px 15px;
    align-items: center;
}

.inner-card-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card-image > img {
    width: 140px;
    height: 200px;
}

.view {

    margin-top: 60px;
    overflow-y: auto;
}
.app {
    height: 200px;
    padding-bottom: 20px;
}

.paginate {
    display: inline-block;
    margin-top: 40px;
    position: absolute;
    top: 0
}

table,
th,
td {
    border: 1px solid;
}

table {
    width: 100%;
    max-width: 400px;
    height: 240px;
    margin: 0 auto;
    display: block;
    overflow-x: auto;
    border-spacing: 0;
}

.card-details {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

tbody {
    white-space: wrap;
}

th,
td {
    padding: 5px 10px;
    border-top-width: 0;
    border-left-width: 0;
}

th {
    position: sticky;
    top: 0;
    background: #fff;
    vertical-align: bottom;
}

th:last-child,
td:last-child {
    border-right-width: 0;
}

tr:last-child td {
    border-bottom-width: 0;
}
