.cardImg {
    width: 144px;
}

h1 {
    font-size: 14px;
}

.view {

    margin-top: 60px;
    overflow-y: auto;
}
.app {
    height: 200px;
    padding-bottom: 20px;
}

.paginate {
    display: inline-block;
    margin-top: 40px;
    position: absolute;
    top: 0
}